@model Student

<form method="post">
    <div>
        <div>
            <h2 class="text-dark">Delete Book</h2>
            <hr />
        </div>
        <br />
        <input asp-for="StudentId" hidden />
        <div class="mb-3">
            <label asp-for="StudentName"></label>
            <input asp-for="StudentName" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="Course"></label>
            <input asp-for="Course" class="form-control" disabled />
        </div>
        <br />
        <button type="submit" class="btn btn-dark" style="width:150px">Delete</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-dark" style="width:150px">
            Back to list
        </a>
    </div>
</form>